* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background-color: rgb(44, 42, 42);
    width: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.logo {
    border: 2px rgb(250, 0, 0) solid; /*Shows the width of the logo container*/
    display: flex;
    align-items: center;
    width: 100px;
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    font-size: larger;
    color: rgb(227, 227, 227);
}

.links-container {
    border: 2px red solid /*Shows the width of the link container*/;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.links-container ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    
}

.links-container a {
    text-decoration: none;
    font-size: medium;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(227, 227, 227);
    transition: 0.3s;
}

.links-container a:hover {
    opacity: 0.4;
}